<h2>Admin Dashboard</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Link</th>
      <th scope="col">Total Count</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Categories</th>
      <td><%= link_to @cat1.name, @cat1 %> || <%= link_to @cat2.name, @cat2 %> || <%= link_to @cat3.name, @cat3 %></td>
      <td><%= @totalcategories %></td>
    </tr>
    <tr>
      <th scope="row">Products</th>
      <td><%= link_to 'Products', '/admin/products' %></td>
      <td><%= @totalproducts %></td>
    </tr>
  </tbody>
</table>